#fancy {
    color:brown;
}
#boxybox {
    position: sticky;
    top: 0;
}
p {
    color:mediumvioletred;
}

div {
    background-color: purple;
    border: 3.5px dotted violet;
}
.heading {
    font-weight: bolder;
    font-style: italic;
}

.content {
    color: rgb(50, 53, 221);
}

